<h4>Tareas Incompletas</h4>
<% if @list.empty? %>
	<p>No has adicionado tareas aún</p>
<% else %>
	<ul>
		<% @list.each do |item| %>
			<li>
				<% if !item["done"] %>
					<p><%= item["title"] %></p>		
					<form action="/update" method="post">
						<input type="hidden" name="id" value="<%= item["id"] %>">
						<input class="btn btn-info btn-sm" type="submit" value="Completar">
					</form>
					<form action="/delete" method="post">
						<input type="hidden" name="id" value="<%= item["id"] %>">
						<input class="btn btn-danger btn-sm" type="submit" value="Borrar">
					</form>
					<br><br>
				<% end %>
			</li>
		<% end %>
	</ul>	
<% end %>	